<h1>Cumples de la semana</h1>
<table class="table table-striped">
  <tr>
    <th>Día</th>
    <th>Cliente</th>
    <th>Edad</th>
  </tr>
  <% today = l(Date.today, format: :month_and_day) %>
  <% @cumples.each do |cump| %>
    <tr>
      <td>
        <% if l(cump.nacimiento, format: :month_and_day) == today %>
          <%= raw '<b>HOY </b>' %>
        <% else %>
          <%= l(cump.nacimiento, format: :birthdate) %>
        <% end %>
      </td>
      <td><%= link_to (cump.nombre + ' ' + cump.apellido), cump%></td>
      <td><%= edad(cump)%></td>
    </tr>
  <% end %>
</table>
