
<div id="cumples">
  <% unless @cumples.nil?  %>
  <h1>Cumples de la semana</h1>
<table>
  <tr><th>Día</th><th>Cliente</th><th>Años</th></tr>
  <% @cumples.each do |cump| %>
  <tr>
    <td>
    <%= l(cump.nacimiento, format: :short) if cump.nacimiento.day != Date.today.day%>
    <%= raw '<b>HOY </b>' if cump.nacimiento.day == Date.today.day%>
    </td>
    <td><%= link_to (cump.nombre + ' ' + cump.apellido), cump%></td>
    <td><%= edad(cump)%></td>
  </tr>
    <% end %>
</table>
  <% end %>
</div>