<h1>Ventas</h1>

<table>
  <tr>
    <th>Mes</th>
    <th>Año</th>
    <th>Vendido</th>
    <th>Cantidad de ventas</th>
  </tr>

<% @venta.each do |ventum| %>
  <tr>
    <td><%= ventum.mes %></td>
    <td><%= ventum.anio %></td>
    <td><%= number_to_currency(ventum.vendido) %></td>
    <td><%= ventum.cantvendida %></td>
   
<% end %>
</table>

<br />

<%#= will_paginate @venta %>
