<h1>Historiales</h1>

<div id="lentescontacto"><%= render 'contacto' %></div>

<div id="lentesflotantes"><%= render 'flotante' %> 
<br /><br />
<%= link_to 'Nuevo Historial', new_historial_path %> 

</div>



