body {
    background-color: #809897 ;
    color: #78fd97 ;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px; }
div {
    text-align: center;
}
.user{
    float: right;
}
#cumples{
    float: right;
}
#clientes{
    float: left;
    margin: 0em 20em;
}
#div-mensaje{
    margin: 0em 20em 0em 20em;
    background-color: #fff;
    color: #000;
}
#body{
    height: 300px;
    width: 100%;
}
table, th {
    text-align: center;
}
table, tr, td {
    text-align: center;
    border: 2px solid gray;
}
.oculto{
    border: 0px;
}
table {
    margin: 0em auto;
}
h1 {
    text-align: center;
}

#lentesflotantes {
    float: left;
}

#lentescontacto {
    float: right;
}

.botones {
    position:absolute;
    bottom: 10px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  display: table-cell;
  border: 2px solid red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
